<template lang="pug">
  #foot.footer
    hr
    .footer-copyright.text-center.py-1
      p © 'Ru-RST Group', 2017-{{new Date().getFullYear()}}
</template>

<script>
  export default {
    name: "foot"
  };
</script>

<style lang="scss" scoped>
</style>
