<template lang="pug">
  #text-page
    .container
      b-jumbotron(header-level='4')
        template(slot='header')
          p.jh {{$t('text.jumbotron')}}
      .row.col.pb-2
        h4 {{$t('text.select_text')}}:
        b-form-select(v-model="selected" :options="list")
          template(slot="first")
            option(:value="'all'" disabled) -- {{$t('text.select_text')}} --
    div(v-if="(selected !== 'all') && selected")
      .container-fluid
        .row.pb-2.d-none.d-md-block.d-xl-block.d-print-none
          iframe.w-100.border.rounded(:src="API_BASE + 'html/' + selected" height="550px")
            | {{$t("text.error")}}
      .container
        .row.col.pb-2.d-print-none
          b-btn(variant="primary" :href="API_BASE + 'html/'+selected") {{$t('text.view')}}
        .row.no-gutters.pb-1
          .col-sm-auto.pr-1
            b-btn(variant="outline-primary" v-b-toggle.collapse-txt) {{$t('text.spoiler.txt')}}
          .col-sm-auto
            b-btn(variant="success" :href="API_BASE + 'txt/' + selected" download)
              | {{$t('text.download.txt')}}
        .row.col.pb-2
          b-collapse#collapse-txt
            b-card
              pre.card-text {{text.txt}}
        .row.no-gutters.pb-2
          .col-sm-auto.pr-1
            b-btn(variant="outline-primary" v-b-toggle.collapse-rs3) {{$t('text.spoiler.rs3')}}
          .col-sm-auto
            b-btn(variant="success" :href="API_BASE + 'rs3/' + selected" download)
              | {{$t('text.download.rs3')}}
        .row.col.pb-2
          b-collapse#collapse-rs3
            b-card
              pre.card-text {{text.rs3}}
        .row.col
          b-card.w-100
            b-card-text {{ $t('text.rstviewer') }}&nbsp;
              a(href="https://github.com/arne-cl/rstviewer") rstviewer
</template>

<script lang="coffee">
import { API_BASE } from '~/config/fe_constants.coffee'

export default
  name: 'texts'
  layout: 'nav_foot'
  head: ->
      title: @$t('text.title')
  watchQuery: true
  mounted: ->
    @selected = @$route.params.text_id
    return
  validate: ({ params, error }) ->
    test = /((news(1|2)|sci.(comp|ling)|blogs)\_\d+)|(all)/.test(params.text_id)
    # test = params.text_id in @list or params.text_id == 'all'
    error(
      statusCode: 404
      message: 'Text not found'
    ) unless test
    return test
  asyncData: ({ error, $axios }) ->
    list = []
    await $axios
      .get(API_BASE + 'names')
      .then((res) ->
        list = res.data;
        return
      )
      .catch((e) ->
        error(
          statusCode: 404
        )
        return
      )
    return {
      list
    }
  data: ->
    API_BASE: API_BASE
    selected: null
    text:
      name: ""
      txt: ""
      rs3: ""
    list: []
  computed:
    val: ->
      return (@selected in @list) or (@selected == 'all')
  watch:
    selected: (new_val, old_val) ->
      if new_val? and new_val != "all"
        @$router.replace(new_val);
        @$axios
          .get(API_BASE + 'file/' + new_val)
          .then((res) =>
            @text = res.data
            return
          )
          .catch((e) =>
            @text = @$t('text.error')
            return
          )
        return
</script>

