.anch {
    padding-top: 60px;
    margin-top: -60px;
}

.btt {
    & {
        // display: none; /* Hidden by default */
        position: fixed;
        bottom: 1%;
        right: 0.5%;
        z-index: 99;
        border: none;
        outline: none;
        background: lightgray;
        color: black;
        cursor: pointer;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 10px;
    }
}

.jh {
    word-break: break-all;
    overflow-wrap: break-word;

    @media (min-width: 992px) {
        word-break: keep-all;
        overflow-wrap: normal;
    }
}
