<template lang="pug">
  .container
    h1(v-if="error.statusCode === 404")
      span(v-if='$i18n.locale === "rus"')
        p {{ru[error.message]}}
      span(v-else)
        p {{error.message}}
    h1(v-else) {{$t('error.error')}}
    b-btn(:to="localePath('index')" variant='primary') {{$t('error.home')}}
</template>

<script>
export default {
  name: "error",
  layout: "nav_foot",
  props: ["error"],
  data() {
    return {
      ru: {
        "This page could not be found": "Страница не найдена",
        "Text not found": "Текст не найден"
      }
    };
  }
};
</script>
