<template lang="pug">
  div
    navbar
    nuxt
    foot
</template>

<script>
import navbar from "~/components/navbar.vue";
import foot from "~/components/foot.vue";

export default {
  components: {
    navbar,
    foot
  }
};
</script>


<style lang="scss">
html {
  font-family: Roboto, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  // font-size: 16px;
  // word-spacing: 1px;
  // -ms-text-size-adjust: 100%;
  // -webkit-text-size-adjust: 100%;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-font-smoothing: antialiased;
  // box-sizing: border-box;
  // position: relative;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
</style>
