<template lang="pug">
.container
  b-jumbotron(header-level='4')
    template(slot='header')
      p.jh {{$t('aboutRST.header')}}
    p {{$t('learn_more')}}:
    b-btn(variant='primary', :to='localePath("aboutRhetRel")') {{$t('aboutRST.link')}}
  .row.col
    p {{$t('aboutRST.first')}}
    p
      | {{$t('aboutRST.second.part1')}} -&nbsp;
      b {{$t('aboutRST.second.bold')}}&nbsp;
      | {{$t('aboutRST.second.other')}}
    p
      | {{$t('aboutRST.last.intro')}}&nbsp;
      b {{$t('aboutRST.last.single.title')}}&nbsp;
      | {{$t('aboutRST.last.single.body')}}&nbsp;
      b {{$t('aboutRST.last.multiple.title')}}&nbsp;
      | {{$t('aboutRST.last.multiple.body')}}&nbsp;
      | {{$t('aboutRST.last.last')}}&nbsp;
</template>

<script lang="coffee">
export default
  name: "aboutRST"
  layout: "nav_foot"
  head: ->
    title: @$t("aboutRST.title")
</script>
