<template lang="pug">
.container
  b-jumbotron(header-level='4' :lead='$t("dataset.jumbotron.lead")')
    template(slot='header')
      p.jh {{$t('dataset.jumbotron.header')}}
    p {{$t('learn_more')}}:
    b-button(variant='primary' :to='localePath("aboutRST")')
      | {{$t('dataset.jumbotron.link')}}
  .row.col
    .row.no-gutters
      .col-sm-auto.mr-1.mb-1
        b-btn(to='text/all' variant='primary') {{$t('dataset.download.texts')}}
        | {{" "}}{{$t('dataset.download.header')}}:
      .col-sm-auto.mr-1.mb-1
        b-button-group
          b-button(variant='success' :href='all_all')
            | {{$t('dataset.download.link.full.all')}}
          b-dropdown(variant='success' right)
            b-dropdown-item(:href='all_rs3')
              | {{$t('dataset.download.link.full.rs3')}}
            b-dropdown-item(:href='all_txt')
              | {{$t('dataset.download.link.full.txt')}}
      .col-sm-auto.mr-1.mb-1
        b-btn-group
          b-button(variant='success' :href='news_all')
            | {{$t('dataset.download.link.news')}}
          b-dropdown(right variant='success')
            b-dropdown-group(:header="$t('dataset.download.link.news1.group')")
              b-dropdown-item(:href="news1_all") {{$t('dataset.download.link.news1.all')}}
              b-dropdown-item(:href="news1_rs3") {{$t('dataset.download.link.news1.rs3')}}
              b-dropdown-item(:href="news1_txt") {{$t('dataset.download.link.news1.txt')}}
            b-dropdown-divider
            b-dropdown-group(:header="$t('dataset.download.link.news2.group')")
              b-dropdown-item(:href="news2_all") {{$t('dataset.download.link.news2.all')}}
              b-dropdown-item(:href="news2_rs3") {{$t('dataset.download.link.news2.rs3')}}
              b-dropdown-item(:href="news2_txt") {{$t('dataset.download.link.news2.txt')}}
      .col-sm-auto.mr-1.mb-1
        b-btn-group
          b-button(variant='success' :href='sci_all')
            | {{$t('dataset.download.link.sci')}}
          b-dropdown(right variant='success')
            b-dropdown-group(:header="$t('dataset.download.link.sci_ling.group')")
              b-dropdown-item(:href="sci_ling_all") {{$t('dataset.download.link.sci_ling.all')}}
              b-dropdown-item(:href="sci_ling_rs3") {{$t('dataset.download.link.sci_ling.rs3')}}
              b-dropdown-item(:href="sci_ling_txt") {{$t('dataset.download.link.sci_ling.txt')}}
            b-dropdown-divider
            b-dropdown-group(:header="$t('dataset.download.link.sci_comp.group')")
              b-dropdown-item(:href="sci_comp_all") {{$t('dataset.download.link.sci_comp.all')}}
              b-dropdown-item(:href="sci_comp_rs3") {{$t('dataset.download.link.sci_comp.rs3')}}
              b-dropdown-item(:href="sci_comp_txt") {{$t('dataset.download.link.sci_comp.txt')}}
      .col-sm-auto
        b-btn-group
          b-button(variant='success' :href='blogs_all')
            | {{$t('dataset.download.link.blogs.all')}}
          b-dropdown(variant='success' right)
            b-dropdown-item(:href='blogs_rs3')
              | {{$t('dataset.download.link.blogs.rs3')}}
            b-dropdown-item(:href='blogs_txt')
              | {{$t('dataset.download.link.blogs.txt')}}
  .row.pt-3
    .col
      citation
</template>

<script lang="coffee">
import citation from '~/components/citation.vue'
import { API_BASE } from '~/config/fe_constants.coffee'

export default
  name: "dataset"
  layout: "nav_foot"
  components: {
    citation
  }
  head: ->
    title: @$t("dataset.title")
  computed:
    all_all: -> API_BASE + 'archive/RuRsTreebank_full.zip'
    all_rs3: -> API_BASE + 'archive/RuRsTreebank_full_rs3.zip'
    all_txt: -> API_BASE + 'archive/RuRsTreebank_full_txt.zip'
    blogs_all: -> API_BASE + 'archive/RuRsTreebank_blogs.zip'
    blogs_rs3: -> API_BASE + 'archive/RuRsTreebank_blogs_rs3.zip'
    blogs_txt: -> API_BASE + 'archive/RuRsTreebank_blogs_txt.zip'
    news_all: -> API_BASE + 'archive/RuRsTreebank_news.zip'
    news1_all: -> API_BASE + 'archive/RuRsTreebank_news1.zip'
    news1_rs3: -> API_BASE + 'archive/RuRsTreebank_news1_rs3.zip'
    news1_txt: -> API_BASE + 'archive/RuRsTreebank_news1_txt.zip'
    news2_all: -> API_BASE + 'archive/RuRsTreebank_news2.zip'
    news2_rs3: -> API_BASE + 'archive/RuRsTreebank_news2_rs3.zip'
    news2_txt: -> API_BASE + 'archive/RuRsTreebank_news2_txt.zip'
    sci_all: -> API_BASE + 'archive/RuRsTreebank_sci.zip'
    sci_ling_all: -> API_BASE + 'archive/RuRsTreebank_sci.ling.zip'
    sci_ling_rs3: -> API_BASE + 'archive/RuRsTreebank_sci.ling.zip'
    sci_ling_txt: -> API_BASE + 'archive/RuRsTreebank_sci.ling_txt.zip'
    sci_comp_all: -> API_BASE + 'archive/RuRsTreebank_sci.comp.zip'
    sci_comp_rs3: -> API_BASE + 'archive/RuRsTreebank_sci.comp.zip'
    sci_comp_txt: -> API_BASE + 'archive/RuRsTreebank_sci.comp_txt.zip'
</script>
