<template lang="pug">
.container
  b-jumbotron(header-level='4')
    template(slot='header')
      p.jh {{$t('markersDict.jumbotron.header')}}
  .row
    .col
      h4 {{$t('markersDict.cause_effect.header')}}
      b-btn.mb-2(variant="success" href="https://docs.google.com/spreadsheets/d/1qJCTS4MkqQhimKSz5oGUrgkJb5xg3D2IvAggnKzSjRw/edit?usp=sharing")
        | {{$t('markersDict.cause_effect.link')}}
      p {{$t('markersDict.cause_effect.body')}}
      ul
        li(v-for="(cause_effect, key) in cause_effects" :key="key")
          span(v-if="'link' in cause_effect")
            | {{cause_effect.before_link}}&nbsp;
            a(:href="cause_effect.link.link") {{cause_effect.link.text}}
            | &nbsp;{{cause_effect.after_link}}
          span(v-else)
            | {{cause_effect.text}}
    //- .col
      h4 {{$t('markersDict.contr_comp.header')}}
      p {{$t('markersDict.contr_comp.body')}}
      ul
        li(v-for="(contr_comp, key) in contr_comps" :key="key")
          | {{contr_comp}}
</template>

<script lang="coffee">
export default
  name: "markersDict"
  layout: "nav_foot"
  head: ->
    title: @$t("markersDict.title")
  computed:
    cause_effects: ->
      @$t("markersDict.cause_effect.list");
    contr_comps: ->
      @$t("markersDict.contr_comp.list")
</script>
