<template lang="pug">
.container
  b-jumbotron(header-level='4' :lead="$t('publications.jumbotron.lead')")
    template(slot="header")
      p.jh {{$t('publications.jumbotron.header')}}
  h4 {{$t('publications.papers.header')}}:
  b-list-group
    b-list-group-item(v-for="(paper, i) in papers" :key="i")
      p {{paper.before_link}}&nbsp;
        template(v-if="paper.link.link !== ''")
          a(:href="paper.link.link") {{paper.link.text}}&nbsp;
        template(v-else)
          | {{paper.link.text}}&nbsp;
        | {{paper.after_link}}
</template>

<script lang="coffee">
import { fas } from '@fortawesome/free-solid-svg-icons'

export default
  name: 'publications'
  layout: 'nav_foot'
  head: ->
    title: this.$t('publications.title')
  computed:
    papers: ->
      @$t('publications.papers.list')
    fas: ->
      fas
</script>
